In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("CountyStats.csv")

# Calculating the number of null values per column
null_counts = df.isnull().sum()

# Printing the null value statistics
print(null_counts)

County                                                  0
County Population                                       0
Predominant City                                        0
State                                                   0
People per sq mi                                        0
Median household income                                55
% with at least Bachelor's degree                       0
Median age                                             43
Median home price                                    1439
Median home sqft                                     1439
Median home cost per sqft                            1439
Median home age                                        54
Homeownership Rate                                      0
Avg Apartment Monthly Rent                             90
Single Population                                       0
Num Violent Crimes Per 100k residents                 938
Num Property Crimes Per 100k residents                937
Poverty Rate                                            0
Unemployment rate                                       0
Labor Force Participation rate                          0
% Democrat                                              0
% Republican                                            0
% Asian                                                 0
% Black                                                 0
% Non-Hispanic White                                    0
% Hispanic                                              0
Foreign Born %                                          0
Timezone                                             1965
Hottest month's avg high (F)                           25
Coldest month's avg high (F)                           25
Hottest high minus coldest high                        25
Hottest month's avg low (F)                            25
Coldest month's avg low (F)                            25
Annual Relative Humidity (afternoon)                    0
Summer Relative Humidity (afternoon)                    0
Annual dew point (F)                                   36
Average summer dew point (F)                           36
Hottest month's avg heat index high (F)                33
Annual Sunshine - Percentage of Possible                0
Summer Sunshine - Percentage of Possible                0
Winter Sunshine - Percentage of Possible                0
Annual rainfall (in)                                   25
Summer rainfall (in)                                   25
Winter rainfall (in)                                   25
Percent of days that include precipitation              0
Percent of Summer days that include precipitation       0
Percent of Winter days that include precipitation       0
Annual snowfall (in)                                   29
Days of snow per year                                  29
Average yearly windspeed (mph)                        676
Number of days with thunder per year                   36
Air quality Index                                       0
UV Index                                                0
Latitude                                               25
Longitude                                              25
dtype: int64

In [4]:
# List of columns to check for null values
columns_to_check = [
    "Hottest month's avg high (F)",
    "Coldest month's avg high (F)",
    "Hottest high minus coldest high",
    "Hottest month's avg low (F)",
    "Coldest month's avg low (F)",
    "Annual Relative Humidity (afternoon)",
    "Summer Relative Humidity (afternoon)",
    "Hottest month's avg heat index high (F)",
    "Annual Sunshine - Percentage of Possible",
    "Summer Sunshine - Percentage of Possible",
    "Winter Sunshine - Percentage of Possible",
    "Annual rainfall (in)",
    "Summer rainfall (in)",
    "Winter rainfall (in)",
    "Percent of days that include precipitation",
    "Percent of Summer days that include precipitation",
    "Percent of Winter days that include precipitation",
    "Annual snowfall (in)",
    "Days of snow per year"
]

# Filter rows where any of the specified columns have a null value
rows_with_nulls = df[df[columns_to_check].isnull().any(axis=1)]

# Print the rows with null values
print(rows_with_nulls)

                               County  County Population  \
0             Kings (Brooklyn) County           11195193
20        New York (Manhattan) County            1653877
28                       Bronx County            1455846
60                    Honolulu County             882834
129   Richmond (Staten Island) County             475948
208     Anchorage Municipality County             298225
337                     Hawaii County             165133
356                   Dona Ana County             157023
390                       Maui County             138348
776                      Kauai County              50536
1005           Juneau City and County              32434
1337                    Bethel County              17878
1762            Valdez-Cordova County               9376
1775                Deer Lodge County               9131
1788                      Nome County               9033
1806            Sitka City and County               8810
1811                 Trousdale County               8773
1829         Ketchikan Gateway County               8506
2058                  Brewster County               6610
2109              Wade Hampton County               6207
2179            Aleutians West County               5580
2213                  Presidio County               5301
2238                   Shannon County               5154
2253             Yukon-Koyukuk County               5092
2278                Dillingham County               4897
2354                    Baraga County               4437
2368                  Garfield County               4305
2456                Petersburg County               3773
2458     Prince of Wales-Hyder County               3745
2650       Southeast Fairbanks County               2784
2707         Wrangell City and County               2475
2713                  Keweenaw County               2429
2801                    Haines County               2087
2895                     Piute County               1640
2966             Hoonah-Angoon County               1203
3010      Skagway Municipality County                996
3054          Yakutat City and County                653

          Predominant City         State  People per sq mi  \
0                 New York      New York             30543
20               Manhattan      New York             72443
28               The Bronx      New York             34581
60                Honolulu        Hawaii              6032
129          Staten Island      New York              8154
208              Anchorage        Alaska               175
337                   Hilo        Hawaii               742
356             Las Cruces    New Mexico              1361
390                Kahului        Hawaii              1850
776                  Kapaa        Hawaii              1874
1005                Juneau        Alaska                12
1337                Bethel        Alaska               132
1762                Valdez        Alaska                30
1775   Anaconda-Deer Lodge       Montana                12
1788                  Nome        Alaska               201
1806                 Sitka        Alaska                 3
1811  Hartsville-Trousdale     Tennessee                77
1829             Ketchikan        Alaska              2065
2058                Alpine         Texas              1095
2109                Chevak        Alaska               435
2179              Unalaska        Alaska                41
2213              Presidio         Texas              1249
2238             Porcupine  South Dakota               257
2253            Fort Yukon        Alaska                26
2278            Dillingham        Alaska                37
2354                L'Anse      Michigan               795
2368             Panguitch          Utah               283
2456            Petersburg        Alaska                70
2458            Metlakatla        Alaska               695
2650                   Tok        Alaska                11
2707              Wrangell        Alaska                 1
2713               Allouez      Michigan               109
2801                Haines        Alaska                90
2895           Circleville          Utah                37
2966                Angoon        Alaska                25
3010               Skagway        Alaska               105
3054               Yakutat        Alaska                 7

     Median household income % with at least Bachelor's degree  Median age  \
0                        NaN                              N/A%         NaN
20                       NaN                              N/A%         NaN
28                       NaN                              N/A%         NaN
60                   $103073                               34%        39.0
129                      NaN                              N/A%         NaN
208                      NaN                              N/A%         NaN
337                   $70419                               29%        41.0
356                      NaN                              N/A%         NaN
390                   $89026                               29%        41.0
776                   $87041                               27%        42.0
1005                     NaN                              N/A%         NaN
1337                     NaN                              N/A%         NaN
1762                     NaN                              N/A%         NaN
1775                     NaN                              N/A%         NaN
1788                     NaN                              N/A%         NaN
1806                     NaN                              N/A%         NaN
1811                     NaN                              N/A%         NaN
1829                  $67209                               22%        38.0
2058                  $44388                               40%        43.0
2109                     NaN                              N/A%         NaN
2179                     NaN                              N/A%         NaN
2213                  $27825                               16%        40.0
2238                     NaN                              N/A%         NaN
2253                     NaN                              N/A%         NaN
2278                     NaN                              N/A%         NaN
2354                  $37533                               10%        41.0
2368                  $46861                               23%        41.0
2456                     NaN                              N/A%         NaN
2458                     NaN                              N/A%         NaN
2650                     NaN                              N/A%         NaN
2707                     NaN                              N/A%         NaN
2713                  $63749                               49%        62.0
2801                  $72412                               24%        40.0
2895                  $46761                               20%        50.0
2966                     NaN                              N/A%         NaN
3010                     NaN                              N/A%         NaN
3054                     NaN                              N/A%         NaN

     Median home price  Median home sqft  ...  \
0              $790000            1282.0  ...
20            $1286000             863.0  ...
28                 NaN               NaN  ...
60             $709801            1068.0  ...
129                NaN               NaN  ...
208            $374000            1692.0  ...
337            $692888            1367.0  ...
356            $281035            1642.0  ...
390           $1010781            1136.0  ...
776            $959223            1233.0  ...
1005               NaN               NaN  ...
1337               NaN               NaN  ...
1762               NaN               NaN  ...
1775               NaN               NaN  ...
1788               NaN               NaN  ...
1806               NaN               NaN  ...
1811               NaN               NaN  ...
1829               NaN               NaN  ...
2058               NaN               NaN  ...
2109               NaN               NaN  ...
2179               NaN               NaN  ...
2213               NaN               NaN  ...
2238               NaN               NaN  ...
2253               NaN               NaN  ...
2278               NaN               NaN  ...
2354               NaN               NaN  ...
2368               NaN               NaN  ...
2456               NaN               NaN  ...
2458               NaN               NaN  ...
2650               NaN               NaN  ...
2707               NaN               NaN  ...
2713           $354000            2744.0  ...
2801               NaN               NaN  ...
2895               NaN               NaN  ...
2966               NaN               NaN  ...
3010               NaN               NaN  ...
3054               NaN               NaN  ...

     Percent of Summer days that include precipitation  \
0                                                 N/A%
20                                                N/A%
28                                                N/A%
60                                                 52%
129                                               N/A%
208                                               N/A%
337                                                56%
356                                               N/A%
390                                                25%
776                                                68%
1005                                              N/A%
1337                                              N/A%
1762                                              N/A%
1775                                              N/A%
1788                                              N/A%
1806                                              N/A%
1811                                              N/A%
1829                                               58%
2058                                               28%
2109                                              N/A%
2179                                              N/A%
2213                                               22%
2238                                              N/A%
2253                                              N/A%
2278                                              N/A%
2354                                               38%
2368                                               23%
2456                                              N/A%
2458                                              N/A%
2650                                              N/A%
2707                                              N/A%
2713                                               34%
2801                                               41%
2895                                               19%
2966                                              N/A%
3010                                              N/A%
3054                                              N/A%

      Percent of Winter days that include precipitation Annual snowfall (in)  \
0                                                  N/A%                  NaN
20                                                 N/A%                  NaN
28                                                 N/A%                  NaN
60                                                  46%                  NaN
129                                                N/A%                  NaN
208                                                N/A%                  NaN
337                                                 44%                  NaN
356                                                N/A%                  NaN
390                                                 32%                  NaN
776                                                 55%                  NaN
1005                                               N/A%                  NaN
1337                                               N/A%                  NaN
1762                                               N/A%                  NaN
1775                                               N/A%                  NaN
1788                                               N/A%                  NaN
1806                                               N/A%                  NaN
1811                                               N/A%                  NaN
1829                                                69%                 37.0
2058                                                10%                  5.0
2109                                               N/A%                  NaN
2179                                               N/A%                  NaN
2213                                                 7%                  2.0
2238                                               N/A%                  NaN
2253                                               N/A%                  NaN
2278                                               N/A%                  NaN
2354                                                57%                140.0
2368                                                17%                 51.0
2456                                               N/A%                  NaN
2458                                               N/A%                  NaN
2650                                               N/A%                  NaN
2707                                               N/A%                  NaN
2713                                                45%                140.0
2801                                                56%                170.0
2895                                                29%                 29.0
2966                                               N/A%                  NaN
3010                                               N/A%                  NaN
3054                                               N/A%                  NaN

     Days of snow per year Average yearly windspeed (mph)  \
0                      NaN                            NaN
20                     NaN                            NaN
28                     NaN                            NaN
60                     NaN                            NaN
129                    NaN                            NaN
208                    NaN                            NaN
337                    NaN                            6.0
356                    NaN                            NaN
390                    NaN                            6.0
776                    NaN                            NaN
1005                   NaN                            NaN
1337                   NaN                            NaN
1762                   NaN                            NaN
1775                   NaN                            NaN
1788                   NaN                            NaN
1806                   NaN                            NaN
1811                   NaN                            NaN
1829                  24.0                            NaN
2058                   0.0                            NaN
2109                   NaN                            NaN
2179                   NaN                            NaN
2213                   0.0                            NaN
2238                   NaN                            NaN
2253                   NaN                            NaN
2278                   NaN                            NaN
2354                  78.0                            NaN
2368                  13.0                            NaN
2456                   NaN                            NaN
2458                   NaN                            NaN
2650                   NaN                            NaN
2707                   NaN                            NaN
2713                  78.0                            NaN
2801                  52.0                            NaN
2895                  10.0                            NaN
2966                   NaN                            NaN
3010                   NaN                            NaN
3054                   NaN                            NaN

      Number of days with thunder per year  Air quality Index UV Index  \
0                                      NaN                 25        3
20                                     NaN                 10        3
28                                     NaN                 24        3
60                                     NaN                 68        9
129                                    NaN                 44        3
208                                    NaN                 38        1
337                                    NaN                 80        9
356                                    NaN                 62        6
390                                    NaN                 78        9
776                                    NaN                 84        9
1005                                   NaN                 81        1
1337                                   NaN                 84        1
1762                                   NaN                 86        1
1775                                   NaN                 95        3
1788                                   NaN                 84        1
1806                                   NaN                 78        1
1811                                   NaN                 70        4
1829                                   NaN                 43        1
2058                                  37.0                 84        6
2109                                   NaN                 86        1
2179                                   NaN                 85        1
2213                                   NaN                 77        7
2238                                   NaN                 92        4
2253                                   NaN                 84        1
2278                                   NaN                 84        1
2354                                  28.0                 91        3
2368                                   NaN                 96        4
2456                                   NaN                 85        1
2458                                   NaN                 80        1
2650                                   NaN                 86        1
2707                                   NaN                 86        1
2713                                  28.0                 96        3
2801                                   NaN                 86        1
2895                                   NaN                 96        4
2966                                   NaN                 84        1
3010                                   NaN                 81        1
3054                                   NaN                 86        1

       Latitude   Longitude
0           NaN         NaN
20          NaN         NaN
28          NaN         NaN
60    21.431275 -157.959193
129         NaN         NaN
208         NaN         NaN
337   19.675377 -155.450270
356         NaN         NaN
390   20.854189 -156.486441
776   22.021083 -159.440782
1005        NaN         NaN
1337        NaN         NaN
1762        NaN         NaN
1775        NaN         NaN
1788        NaN         NaN
1806        NaN         NaN
1811        NaN         NaN
1829  55.354522 -131.668664
2058  30.307156 -103.632984
2109        NaN         NaN
2179        NaN         NaN
2213  29.819485 -104.245983
2238        NaN         NaN
2253        NaN         NaN
2278        NaN         NaN
2354  46.766736  -88.465807
2368  37.756783 -112.085828
2456        NaN         NaN
2458        NaN         NaN
2650        NaN         NaN
2707        NaN         NaN
2713  47.387325  -88.284101
2801  59.271889 -135.535290
2895  38.274015 -112.241567
2966        NaN         NaN
3010        NaN         NaN